<div class="row">
  <div class="col-md-12 mx-auto">
    <h1>TODO CRUD INTERFACE</h1>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form class='inputRow'>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="userId" id="userId" [(ngModel)]="newTodo.userId" placeholder="userId" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="title" id="title" [(ngModel)]="newTodo.title" placeholder="title" class="form-control" >
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary f-right" (click)="create()">Add</button>
       </div>
      </div>
      <div class="form-row" style="padding-top: 10px">
        <input type="file" (change)="onFileChange($event)" multiple="false" />
        <button class="btn btn-primary f-right" (click)="export()" >Export to Excel</button>
      </div>
    </form>
    <div class="todos" *ngIf="todosList">
      <table class="table">
        <thead class="h">
          <tr class="h">

            <th class="h">id</th>
            <th class="h">Title</th>
            <th class="h">userId</th>
            <th class="h">completed</th>

          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="todo" (dblclick)="editTodo(todo)" *ngFor="let todo of todosList">

            <ng-container *ngIf="!editTodos.includes(todo); else editTD">
              <td>{{todo.id}}</td>
              <td>{{todo.title}}</td>
              <td>{{todo.userId}}</td>
              <td>{{todo.completed}}</td>
            </ng-container>

            <ng-template #editTD>
                <td><input type="text" name="id" id="id" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.id" placeholder="id" class="form-control"></td>
                <td><input type="text" name="title" id="title" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.title" placeholder="Description"
                    class="form-control"></td>
                <td>{{todo.userId}}</td>
                <td>
                  <input type="text" name="completed" id="completed" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.completed" placeholder="completed" class="form-control">
                </td>
            </ng-template>

            <td class="o">
              <button title="Mark Done" class="btn btn-success" (click)="doneTodo(todo)" *ngIf="!todo.completed">
                <i  class="fa fa-check"></i>
              </button>
              <button title="Edit Todo" class="btn btn-primary" (click)="editTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button title="Delete Todo" class="btn btn-danger" (click)="deleteTodo(todo)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>



  </div>
  <div class="col-md-2">

  </div>
</div>
